gm_dotnet_native/.vs
gm_dotnet_managed/bin
gm_dotnet_managed/obj
gm_dotnet_native/.idea
gm_dotnet_native/cmake-build-debug
gm_dotnet_native/cmake-build-debug_wsl
gm_dotnet_managed/.vs
gm_dotnet_managed/GmodNET/bin
gm_dotnet_managed/GmodNET/obj
gm_dotnet_managed/GmodNET.API/bin
gm_dotnet_managed/GmodNET.API/obj
